:root {
	// background
	--background-base: #fff;
	--background: #f1f1f1;
	// color
	--color: #000;
	--color-head: #000;
}

* {
	font-family: $font-base;
}

html {
	font-size: $base-font-mobile;

	// tablet and up
	@media all and (min-width: $m) {
		font-size: $base-font-tablet;
	}

	// laptop and up
	@media all and (min-width: $xl) {
		font-size: $base-font-laptop;
	}

	// desktop and up
	@media all and (min-width: $desktop) {
		font-size: $base-font-desktop;
	}
}

body {
	margin: 0;
	background-color: $background-base;
	color: $color;
}

::selection {
	background-color: $green;
}

svg {
	position: relative;
	vertical-align: middle;
}

iframe {
	width: 100%;
	border: 0;
}

.hide-from-layout {
	@include sr-only();
}

#prismic-toolbar-v2 {
	cursor: auto;
}

.button--reset {
	border: none;
	background-color: transparent;
	outline: none;
}

.button {
	padding: $spacing * 0.3 $spacing * 0.5;
	font-size: $font-s * 0.9;
	border-radius: 0.3rem;
	background-color: $white;
	color: $black;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.2s background-color;

	&:hover,
	&:focus {
		background-color: $pink;
	}
}

.light-leave-active,
.light-enter-active,
.white-leave-active,
.white-enter-active,
.dark-leave-active,
.dark-enter-active,
.green-leave-active,
.green-enter-active {
	transition: all 0.6s;

	&::before {
		transition: transform 0.5s $gom;
	}

	> * > * {
		transition: transform 0.6s $gom;
	}

	.intro-enter-active {
		animation: none;
	}
}

// start stage
.light-leave {
	&::before {
		@include transitionBefore(100%, $background);
	}
}

// mid stage
.light-leave-to {
	&::before {
		@include transitionBefore(0%, $background);
	}
}

.light-enter {
	&::before {
		@include transitionBefore(0%, $background);
	}

	> * > * {
		transform: translate3d(0, 100%, 0);
	}
}

// end stage
.light-enter-to {
	&::before {
		@include transitionBefore(-100%, $background);
	}

	> * > * {
		transform: translate3d(0, 0, 0);
	}
}

// start stage
.white-leave {
	&::before {
		@include transitionBefore(100%, $white);
	}
}

// mid stage
.white-leave-to {
	&::before {
		@include transitionBefore(0%, $white);
	}
}

.white-enter {
	&::before {
		@include transitionBefore(0%, $white);
	}

	> * > * {
		transform: translate3d(0, 100%, 0);
	}
}

// end stage
.white-enter-to {
	&::before {
		@include transitionBefore(-100%, $white);
	}

	> * > * {
		transform: translate3d(0, 0, 0);
	}
}

// start stage
.dark-leave {
	&::before {
		@include transitionBefore(100%, $background-dark);
	}
}

// mid stage
.dark-leave-to {
	&::before {
		@include transitionBefore(0%, $background-dark);
	}
}

.dark-enter {
	&::before {
		@include transitionBefore(0%, $background-dark);
	}

	> * > * {
		transform: translate3d(0, 100%, 0);
	}
}

// end stage
.dark-enter-to {
	&::before {
		@include transitionBefore(-100%, $background-dark);
	}

	> * > * {
		transform: translate3d(0, 0, 0);
	}
}

// start stage
.green-leave {
	&::before {
		@include transitionBefore(100%, $green);
	}
}

// mid stage
.green-leave-to {
	&::before {
		@include transitionBefore(0%, $green);
	}
}

.green-enter {
	&::before {
		@include transitionBefore(0%, $green);
	}

	> * > * {
		transform: translate3d(0, 100%, 0);
	}
}

// end stage
.green-enter-to {
	&::before {
		@include transitionBefore(-100%, $green);
	}

	> * > * {
		transform: translate3d(0, 0, 0);
	}
}
