:root {
	// background
	--background-base: #fff;
	--background: #f1f1f1;
	// color
	--color: #000;
	--color-head: #000;
}

* {
	font-family: $font-base;
}

html {
	font-size: $base-font-mobile;

	// tablet and up
	@media all and (min-width: $m) {
		font-size: $base-font-tablet;
	}

	// laptop and up
	@media all and (min-width: $xl) {
		font-size: $base-font-laptop;
	}
}

body {
	margin: 0;
	background-color: $background-base;
	color: $color;
}

::selection {
	background-color: $green;
}

svg {
	position: relative;
	vertical-align: middle;
}

iframe {
	width: 100%;
	border: 0;
}

.hide-from-layout {
	@include sr-only();
}

#prismic-toolbar-v2 {
	cursor: auto;
}

.button--reset {
	border: none;
	background-color: transparent;
	outline: none;
}

.button {
	padding: $spacing * 0.3 $spacing * 0.5;
	font-size: $font-s * 0.9;
	border-radius: 0.3rem;
	background-color: $white;
	color: $black;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.2s background-color;

	&:hover,
	&:focus {
		background-color: $pink;
	}
}
