// ===============================================================
//  MIXINS
// ===============================================================
// Clearfix. Only clear down, not up.
@mixin clearfix() {
	&::after {
		clear: both;
		content: ' ';
		display: table;
		width: 100%;
	}
}

//screenreader only
@mixin sr-only() {
	border: 0;
	clip: rect(0, 0, 0, 0);
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
}

@mixin break-long-word() {
	@media all and (max-width: $m) {
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-all;
		word-break: break-word;
		hyphens: auto;
	}
}

@mixin stripes {
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15) 0.5px,
		rgba(0, 0, 0, 0) 2px,
		rgba(0, 0, 0, 0) 7px
	);
}

@mixin max-width() {
	margin: 0 auto;
	max-width: $max-widht;
}

@mixin font-family {
	/* playfair-display-800 - latin */
	@font-face {
		font-family: 'Playfair Display';
		font-style: normal;
		font-display: optional;
		font-weight: 800;
		src: local('Playfair Display'), url('../assets/fonts/playfair-display-v21-latin-800.woff2') format('woff2'),
			url('../assets/fonts/playfair-display-v21-latin-800.woff') format('woff');
	}

	/* playfair-display-regular - latin */
	@font-face {
		font-family: 'Playfair Display';
		font-style: normal;
		font-display: optional;
		font-weight: 400;
		src: local(''), url('../assets/fonts/playfair-display-v21-latin-regular.woff2') format('woff2'),
			url('../assets/fonts/playfair-display-v21-latin-regular.woff') format('woff');
	}

	/* dm-sans-regular - latin */
	@font-face {
		font-family: 'DM Sans';
		font-style: normal;
		font-display: optional;
		font-weight: 400;
		src: local('DM Sans Regular'), local('DMSans-Regular'),
			url('../assets/fonts/dm-sans-v4-latin-regular.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/dm-sans-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* dm-sans-500 - latin */
	@font-face {
		font-family: 'DM Sans';
		font-style: normal;
		font-display: optional;
		font-weight: 500;
		src: local('DM Sans Medium'), local('DMSans-Medium'),
			url('../assets/fonts/dm-sans-v4-latin-500.woff2') format('woff2'),
			/* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/dm-sans-v4-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
}

@mixin transitionBefore($value, $color) {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
	transform: translate3d(0, $value, 0);
	background-color: $color;
}

@mixin section-padding($breakpoint: 'xs') {
	@if $breakpoint == 'xs' {
		padding: $spacing * 2 $spacing $spacing * 2;
	}

	@if $breakpoint == 's' {
		padding: $spacing * 4 $spacing * 2 $spacing * 2;
	}

	@if $breakpoint == 'm' {
		padding: $spacing * 5 $spacing * 3 $spacing * 2;
	}

	@if $breakpoint == 'l' {
		padding: $spacing * 6 $spacing * 6 $spacing * 2;
	}
}
