// ===============================================================
//  TYPOGRAPHY
// ===============================================================

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-head;
	font-weight: 700;
	color: $color-head;
	letter-spacing: 0.02em;
}

h1 {
	font-size: $font-title;
}

h2 {
	font-size: $font-xxl;
}

h3 {
	font-size: $font-xl;
}

h4,
h5,
h6 {
	font-size: $font-m;
}

p,
li {
	font-size: $font;
	line-height: 1.8;
	font-weight: 100;
}
