// ===============================================================
//  TYPOGRAPHY
// ===============================================================

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-head;
	font-weight: 700;
	color: $color-head;
}

h1 {
	font-size: $font-xxl;
}

h2 {
	font-size: $font-xl;
}

h3 {
	font-size: $font-l;
}

h4,
h5,
h6 {
	font-size: $font-m;
}

p,
li {
	font-size: $font-s;
	line-height: $font-s * 1.3;
}
