// ===============================================================
//  VARIABLES
// ===============================================================
// Color
$white: #fff;
$black: #000;
$grey: #40434e;
$light-grey: #c5c5c5;
$loading-down: #f0f0f0;
$loading-up: #e4e4e4;
$pink: #ea40f7;
$green: #00ffc9;
$red: #be0000;

// background
$background-base: #fff;
$background: #f1f1f1;
$background-dark: #1d1d1c;
$background-light-dark: #333;
// color
$color: #191919;
$color-light: $white;
$color-head: #1d1d1c;

// Typography
$base-font-mobile: 52.5%;
$base-font-tablet: 52.5%;
$base-font-laptop: 62.5%; // 1rem = ~10px
$base-font-desktop: 76.5%;

$font-base: 'DM Sans', sans-serif;
$font-highlight: 'Benton Sans Wd Bd', sans-serif;
$font-highlight-light: 'Benton Sans Wd', sans-serif;
$font-head: 'Playfair Display', serif;

$font-s: 1.4rem;
$font: 1.8rem;
$font-m: 2rem;
$font-l: 2.2rem;
$font-xl: 3rem;
$font-xxl: 4.2rem;
$font-title: 7.8rem;

// Spacing
$spacing: 2.4rem; // 2.4rem = ~24px
$content-width: 67rem;

$max-widht: $content-width * 1.78;

// Breakpoints
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;
$max: 1670px;
$desktop: 1920px;

// Animations
$gom: cubic-bezier(0.7, 0.06, 0.42, 0.99);
