// ===============================================================
//  VARIABLES
// ===============================================================
// Color
$white: #fff;
$black: #000;
$grey: #40434e;
$pink: #ea40f7;
$green: #0fc;

// background
$background-base: #fff;
$background: #f1f1f1;
// color
$color: #000;
$color-head: #000;

// Typography
$base-font-mobile: 47.5%;
$base-font-tablet: 52.5%;
$base-font-laptop: 62.5%; // 1rem = ~10px

$font-base: sans-serif;
$font-head: 'Playfair Display', serif;

$font-s: 1.6rem;
$font: 1.8rem;
$font-m: 2rem;
$font-l: 2.2rem;
$font-xl: 3.2rem;
$font-xxl: 4.2rem;
$font-title: 7.8rem;

// Spacing
$spacing: 2.4rem; // 2.4rem = ~24px
$content-width: 67rem;

// Breakpoints
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;
$max: 1670px;

// Animations
$gom: cubic-bezier(0.7, 0.06, 0.42, 0.99);
