* {
	font-family: $font-base;
}

html {
	font-size: $base-font-mobile;

	// tablet and up
	@media all and (min-width: $m) {
		font-size: $base-font-tablet;
	}

	// laptop and up
	@media all and (min-width: $xl) {
		font-size: $base-font-laptop;
	}
}

body {
	margin: 0;
	background-color: $background;
	color: $color;
}

::selection {
	background-color: $green;
}

svg {
	position: relative;
	vertical-align: middle;
}

iframe {
	width: 100%;
	border: 0;
}

.hide-from-layout {
	@include sr-only();
}

#prismic-toolbar-v2 {
	cursor: auto;
}
